
/// Fonts
%primary-font {
  font-family: $primary-font;
}

%secondary-font {
  font-family: $secondary-font;
}

%fs-bigger {
  font-size: 2.8rem;
  line-height: 1.14;
}

%fs-big {
  font-size: 2.2rem;
  line-height: 1.185;
}

%fs-medium {
  font-size: 2rem;
  line-height: 1.2;
}

%fs-small {
  font-size: 1.6rem;
  line-height: 1.5;
}

%fs-smaller {
  font-size: 1.4rem;
  line-height: 1.3;
}
